.Leader {
    stroke-width: .5 !important;
    stroke: #c0c0c0;
    fill: none !important;
}

.Button {
    stroke-width: .25;
    stroke: #030303;
    fill: #c0c0c0;
}

.Ring {
    stroke-width: .5 !important;
    stroke: #c0c0c0 !important;
    fill: none !important;
}

.Label {
    stroke: none !important;
    stroke-width: .1 !important;
    fill: transparent !important;
}

.TouchStrip, .TouchRing {
    stroke-width: .1 !important;
    stroke: #030303 !important;
    fill: #c0c0c0 !important;
}
